body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

.card {
  border-radius: 5px;
  margin: 10px;
  background-color: #f1f1f1;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #aaaaaa44;
}

.presetColor {
  width: 18px;
  height: 18px;
  border: 1px solid #6464646e;
  cursor: pointer;
  border-radius: 50%;
  margin: auto;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.presetColor:hover {
  border: 3px solid #e5e5e5e3;
}

.colorGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 168px;
  height: 56px;
  margin: 0px;
}

.color-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.brightness-control {
  background-color: #1D8BFF;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 42px;
  height: 22px;
  padding: 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid #2980b9;
  border-radius: 6px;
}

.brightness-control:hover {
  background-color: #2980b9;
}

.brightness-window {
  margin-left: 4px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.color-history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8px;
}

.color-history-item {
  width: 20px;
  height: 20px;
  margin: 0px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.3s;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.color-history-item:hover {
  transform: scale(1.1);
}


#drawerMenu {
  background-color: #FFFFFF;
  color: #484848;
  height: 100%;
  width: 350px;
  position: fixed;
  top: 0;
  left: -350px;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

#drawerMenu.open {
  left: 0;
}

#drawerMenu ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

#drawerMenu ul li {
  margin-bottom: 10px;
}

#drawerMenu ul li a {
  color: #fff;
  text-decoration: none;
}

#hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 48px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease;
}

#hamburger:hover {
  opacity: 0.7;
}

/* Close button */
#closeBtn {
  width: 50px;
  height: 50px;
  font-size: 48px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#drawerMenu.open #closeBtn {
  opacity: 1;
}

/* Style for page content */
#content {
  display: flex;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  background-color: #EAE9EA;
}

@media screen and (max-width: 767px) {
  /* #drawerMenu.open {
    width: 100%;
  } */

  #content {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #drawerMenu {
    left: 0;
  }

  #content {
    margin-left: 350px;
  }
}

/* Styles for desktop devices */
@media (min-width: 768px) {
  .canvas {
    width: 40vw;
    height: 40vw;
  }

  .canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .control-buttons {
    display: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  button {
    margin: 0 10px;
    padding: 10px 15px;
  }
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .canvas {
    width: 80vw;
    height: 80vw;
  }

  .canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .control-buttons {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  button {
    margin: 5px;
    padding: 8px 12px;
  }
}

/* Common styles continued */
.canvas {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  gap: 1px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  aspect-ratio: 1;
  margin: auto;
}

.pixel {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.control-buttons button,
input[type="color"],
textarea {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
}

textarea {
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
  resize: none;
  border: 1px solid #ccc;
}

/* Button styles */
button {
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s;
}

button#eraser-button {
  background-color: #e74c3c;
}

button#eraser-button:hover {
  background-color: #c0392b;
}

button#clear-button {
  background-color: #f39c12;
}

button#clear-button:hover {
  background-color: #d35400;
}

button#undo-button {
  background-color: #2ecc71;
}

button#undo-button:hover {
  background-color: #27ae60;
}

button#redo-button {
  background-color: #2ecc71;
}

button#redo-button:hover {
  background-color: #27ae60;
}

button#import-button {
  background-color: #3498db;
}

button#import-button:hover {
  background-color: #2980b9;
}

button#export-png-button {
  background-color: #9b59b6;
}

button#export-png-button:hover {
  background-color: #8e44ad;
}

/* Upload button styles */
#uploadLabel {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
  height: auto;
  font-size: 16px;
}

#uploadLabel:hover {
  background-color: #2980b9;
}

#uploadInput {
  display: none;
}

#colorDisplay {
  width: 50px;
  height: 30px;
  margin: auto;
  border: 1px solid #5c5c5ca7;
  border-radius: 2px;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

input[type="range"] {
  width: 80%;
  margin: 2px;
}

input[type="text"] {
  width: 50px;
  margin: auto;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.panel {
  flex: 1;
  min-width: 300px;
  /* Adjust the minimum width as needed */
  box-sizing: border-box;
  border: 0px solid #ccc;
  padding: 5px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.capsule-tabs {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #aaaaaa44;
  margin-top: 8px;
}

.tab-item {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 8px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  transform: translateZ(0);
  /* Enable hardware acceleration for smoother animation */
}

.active {
  background-color: #007aff;
  color: white;
  border: 1px solid #004ea1b2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 16px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s, transform 0.2s;
  transform: translateZ(0);
  /* Enable hardware acceleration for smoother animation */
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}